// CORE Custom Colors
$appBackgroundColor: #eef0f4;
$appBrandColor: #CE2F2F;
$appTextColorDark: #3B4758;
$appTextColorLight: #586a84;
$appTextColorBlue: #1488F3;
$appCardBackgroundColor: #ffffff;
$appCardInnerBackgroundColor: #fafafa;
$appCardHeaderBackgroundColor: #f9f9f9;
$appCardBorderRadius: 12px;
$appFormFieldBackgroundColor: #f2f6fa;
$appFormFieldBorderRadius: 6px;
$appFormFieldPlaceholderColor: #7D8FA9;
$appIconColor: #586a84;
$appIconColorActive: #1e1e1e;
$appControlItemBackgroundColor: #f2f2f2;
$appActiveButtonBackgroundColor: #E5F3FF;
$appCardBoxShadow: 0px 4px 20px rgba(170, 169, 184, 0.1);
$appButtonHelpColor: #F21673;

$appInprogress: #0E8FD8;
$appComplete: #1ED80E;
$appError: #D80E0E;
$appWorning: #F69B11;

:root {
    --core-app-background-color: #{$appBackgroundColor};
    --core-app-card-background-color: #{$appCardBackgroundColor};
    --core-app-card-border-radius: #{$appCardBorderRadius};
    --core-app-card-box-shadow: #{$appCardBoxShadow};
}

/* Customizations to the designer theme should be defined here */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: $appBackgroundColor;

    &:before, &:after {
        content: "";
        width: 100vw;
        height: 105px;
        background: $appBackgroundColor;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
    }

    &:after {
        width: calc(100vw - 20px);
        height: 15px;
        top: auto;
        bottom: 0;
    }
}


// PrimeNg Overrides
.flex {
    display: flex;

    &.justify-end {
        justify-content: flex-end;
    }
}

.mt-10 {
    margin-top: 10px;
}

.p-card {
    border-radius: $appCardBorderRadius;
    box-shadow: none;

    .p-card-header {
        padding: 15px 30px;
        background: $appCardHeaderBackgroundColor;
        border-top-right-radius: $appCardBorderRadius;
        border-top-left-radius: $appCardBorderRadius;
        overflow: hidden;
        display: flex;
        justify-content: space-between;

        .icon, .pi {
            color: $appIconColor;
            display: inline-block;
    
            &:hover, &:focus, &:active {
                color: $appIconColorActive;
            }
        }

        & > div {
            flex-grow: 1;
        }

        .card-title {
            display: flex;
            flex-direction: row;

            h2 {
                font-weight: 500;
                color:  $appTextColorDark;
                font-size: 18px;
                margin: 0;
                display: inline-block;
            }
        }

        .card-controls {
            height: 20px;
            display: flex;
            justify-content: flex-end;
            flex-grow: 1;

            .control-item {
                
            }
            
        }
        .p-button {
            width: 20px;
            height: 20px;
            margin-left: 10px;
            background: transparent;
            border: none;
            outline: none;
        }


    }

    .card-header-tabs {
        list-style: none;
        margin: 0 10px 0 0;
        padding: 0;
        display: flex;

        li {
            margin-left: 20px;

            a {
                text-decoration: none;
                font-size: 14px;
                color: $appTextColorLight;

                &:hover {
                    color: $appTextColorBlue;
                }

                &.active {
                    font-weight: 600;
                    color: $appTextColorDark;

                }
            }
            
        }
    }

    .p-card-body {
        padding: 15px 12px 15px 30px;

        .p-card-content {
            padding: 0;
        }

    }
}

.p-inputtext {
    width: 100%;
    height: 40px;
}

.p-button {
    
    .p-label {
        font-size: 18px;
        font-weight: 500;
    }
    
    &.p-button-help {
        padding: 12px 12px;
        color: $appButtonHelpColor;
        border-radius: $appCardBorderRadius;

        &:hover {
            background: rgba($appButtonHelpColor, 0.04);
        }
    }
}

.p-tooltip {
    
    .p-tooltip-text {
        padding: 5px 8px;
        font-size: 12px;
    }
}

// CORE Custom Styles

h1, h2, h3, h4 {
    margin: 0;
    font-size: 18px;
    color: $appTextColorDark;
}

h3 {
    color: $appTextColorLight;
    margin-bottom: 20px;
}

h4 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
}

#main {
    margin: 0;
    padding: 15px;

    #left-nav, #top-nav {
        z-index: 2;

        .p-button {
            width: 48px;
            height: 48px;
            background-color: transparent;
            border-radius: $appFormFieldBorderRadius;
            border-color: transparent;
            color: $appIconColor;
        
            &:hover, &:active, &:focus, &.active {
                background-color: $appActiveButtonBackgroundColor;
                color: $appIconColorActive;
            }
        }
    }

    #left-nav {
        width: 86px;
        height: calc(100vh - 30px);
        background: $appCardBackgroundColor;
        border-radius: $appCardBorderRadius;
        padding: 20px 19px;
        box-shadow: $appCardBoxShadow;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 15px;
        left: 15px;

        #branding {
            width: 44px;
            height: 44px;
            margin: 0 0 25px;

            img {
                width: 44px;
                height: auto;
                display: inline-block;
            }
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                margin-bottom: 10px;
            }
        }
    }

    #top-nav {
        width: calc(100vw - 131px);
        height: 80px;
        margin: 0 0 0 101px;
        padding: 20px 24px;
        background: $appCardBackgroundColor;
        border-radius: $appCardBorderRadius;
        box-shadow: $appCardBoxShadow;
        position: fixed;
        z-index: 1001;

        .p-button {
            width: 40px;
            height: 40px;
        }

        .p-input-icon-left {
            width: calc(100% - 60px);
            margin-left: 20px;
            vertical-align: top;
            position: relative;
            
            i:first-of-type {
                top: 21px;
                left: 10px;
                font-size: 14px;
                color: $appIconColor;
            }
            
            .p-inputtext {
                padding-right: 40px;
                padding-left: 36px;
                background: $appFormFieldBackgroundColor;
                border: none;
                font-size: 14px;
            }

            .quinn-container {
                width: 20px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                position: absolute;
                right: 10px;
                top: 0;
            }
        }
        
        .p-avatar {
            width: 40px;
            height: 40px;
            cursor: pointer;
            outline: 2px solid transparent;
            outline-offset: 2px;
            transition: all 0.5s ease-in-out;
            
            &:hover {
                outline: 2px solid rgba(#CE2F2F, 0.5);
            }
        }

        .top-nav-controls {
            height: 40px;
            display: flex;
            flex-direction: row;
            align-items: top;
            justify-content: flex-end;
            vertical-align: top;

            .control-item {
                margin-left: 14px;
                display: flex;
                position: relative;

                .notification-available {
                    width: 10px;
                    height: 10px;
                    background: $appButtonHelpColor;
                    border-radius: 10px;
                    border: 2px solid white;
                    display: inline-block;
                    position: absolute;
                    top: 8px;
                    right: 8px;
                }
            }
        }
    }

    #main-content {
        width: calc(100vw - 130px);
        max-height: calc(100vh - 105px);
        margin: 90px 0 0 101px;
        padding: 0 1px 7px 0;
        display: inline-block;

        h1 {
            margin: 24px 0;

            span {
                color: $appTextColorLight;
            }
        }

        // CORE generic info Label and Value Styles
        .core-info {
            margin-bottom: 20px;

            .core-label, .core-value {
                font-size: 14px;
                display: block;
            }
    
            .core-label {
                font-weight: 400;
                color: $appTextColorLight;
            }
    
            .core-value {
                font-weight: 600;
                color: $appTextColorDark;
            }
        }

        .job-status {
            margin-bottom: 40px;
            position: relative;

            .job-status-item {
                margin-right: 15px;
                padding: 0;

                .job-status-item-content {
                    padding: 12px 10px;
                    border-radius: $appCardBorderRadius;
                    box-shadow: $appCardBoxShadow;
                    border: 1px solid transparent;
                    position: relative;

                    &:after, &:before {
                        content: "";
                        width: 5px;
                        height: 5px;
                        background: $appIconColor;
                        border-radius: 5px;
                        display: block;
                        position: absolute;
                        top: calc(50% - 2.5px);
                        right: -2.5px;
                        z-index: 1000;
                    }

                    &:before {
                        left: -3px;
                    }
    
                    h4 {
                        margin: 0 0 8px;
                        font-size: 14px;
                        font-weight: 600;
                        color: $appTextColorLight;
                        display: flex;
                        align-items: center;
    
                        i {
                            margin-right: 5px;
                        }
                    }

                    &.inprogress {
                        
                        h4 {
                            color: $appInprogress;
                        }
                    }

                    &.complete {

                        h4 {
                            color: $appComplete;
                        }
                    }

                    &.error {

                        h4 {
                            color: $appError;
                        }
                    }

                    &.warning {

                        h4 {
                            color: $appWorning;
                        }
                    }
    
                    .job-start-date, .job-end-date {
                        padding-left: 20px;
                        font-size: 12px;
                        color: $appTextColorLight;
                        display: block;
                        position: relative;

                        &:before {
                            content: "";
                            width: 5px;
                            height: 5px;
                            background: #F0F0F0;
                            border-radius: 5px;
                            display: inline-block;
                            position: absolute;
                            top: 5px;
                            left: 6px;
                        }
                    }

                    .job-start-date {
                        margin-bottom: 7px;

                        &:after {
                            content: "";
                            width: 1px;
                            height: 12px;
                            background: #F0F0F0;
                            display: inline-block;
                            position: absolute;
                            top: 12px;
                            left: 8px;
                        }
                    }

                    .job-end-date {
                        margin-bottom: 6px;
                    }

                    &:hover, &.active {
                        border-color: $appIconColor;
                        cursor: pointer;
                    }
                }
            }

            .p-carousel-item {
                position: relative;

                &:after {
                    content: "";
                    width: 9px;
                    height: 1px;
                    background: $appTextColorLight;
                    display: inline-block;
                    position: absolute;
                    top: calc(50%);
                    right: 3px;
                }
            }

            .p-carousel-item[aria-label="0"] {

                .job-status-item {
                    padding-left: 0;

                    .job-status-item-content {

                        &::before {
                            display: none;
                        }
                    }
                }
            }
        }

        .job-details {
            margin-bottom: 20px;

            h3 {
                margin-bottom: 20px;
            }

            .core-info {
                display: flex;
                flex-grow: 1;

                .core-label {
                    width: 40%;
                    display: inline-flex;
                }

                .core-value {
                    width: 60%;
                    display: inline-flex;
                    flex-direction: column;
                    
                    a {
                        color: $appTextColorDark;

                        &:hover {
                            color: $appBrandColor;
                            text-decoration: none;
                        }
                    }
                }

                &.value-right {

                    .core-value {
                        align-items: flex-end;
                    }
                }
            }
        }

        .job-participants {
            margin-bottom: 40px;

            .job-participent-item {
                margin-right: 15px;
                padding: 0;
                
                .job-participent-item-content {
                    background: $appCardInnerBackgroundColor;
                    border-radius: $appCardBorderRadius;
                    padding: 15px 10px;

                    .p-avatar {
                        margin-bottom: 12px;;
                    }
                    
                    h4 {
                        margin: 0;
                        font-size: 16px;
                        font-weight: 600;
                    }

                    h5 {
                        margin: 0 0 12px;
                        font-size: 14px;
                        color: $appTextColorLight;
                    }

                    a {
                        margin: 0 0 5px 0;
                        font-size: 14px;
                        font-weight: 600;
                        color: $appTextColorBlue;
                        text-decoration: none;
                        display: block;

                        &:hover {
                            color: $appBrandColor;
                        }
                    }
                }
            }
        }
    }

    .job-attachments {
        margin-bottom: 40px;

        .job-attachments-content {
            display: flex;
            
            a {
                margin-right: 20px;
                font-size: 14px;
                font-weight: 400;
                text-align: center;
                text-decoration: none;
                color: $appTextColorLight;

                img {
                    margin-bottom: 10px;
                    border-radius: 12px;
                }
                
                span {
                    display: block;
                }

                &.add-attachment {
                    width: 140px;
                    height: 140px;
                    border: 1px solid #e4e4e4;
                    border-radius: 12px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    
                }

                &:hover {

                    span {
                        color: $appTextColorDark;
                    }

                    &.add-attachment {
                        border-color: $appTextColorDark;

                        i.pi {
                            color: $appTextColorDark;
                        }
                    }
                }
            }
        }
    }

    .job-knowledge-base {
        margin-bottom: 40px;

        .job-knowledge-base-content {
            display: flex;
            
            a {
                margin-right: 20px;
                font-size: 12px;
                font-weight: 400;
                text-align: center;
                text-decoration: none;
                color: $appTextColorBlue;
                display: flex;
                align-items: center;

                img {
                    height: 32px;
                    margin-right: 6px;
                }

                &:hover {
                    color: $appTextColorLight;
                }
            }
        }
    }

    .job-notes {

        .job-note-content {

        }
    }

    .job-participants, .job-attachments, .job-knowledge-base, .job-notes {

        .card-header {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            
            .card-title {
                display: flex;
                align-items: top;
                
                h3 {
                    margin-bottom: 20px;
                }

                .p-input-icon-left {
                    height: 24px;
                    margin-left: 20px;
                    vertical-align: top;
                    position: relative;
                    
                    i:first-of-type {
                        font-size: 12px;
                        color: $appIconColor;
                        top: 14px;
                    }
                    
                    .p-inputtext {
                        height: auto;
                        padding: 4px 10px 4px 25px;
                        background: $appFormFieldBackgroundColor;
                        border: 1px solid rgba($appTextColorLight, 0.2);
                        font-size: 12px;
                    }
                }
            }

            .card-controls {
                display: flex;
                align-items: top;
                
                a {
                    margin-left: 20px;
                    font-size: 16px;
                    font-weight: 600;
                    color: $appTextColorBlue;
                    text-decoration: none;

                    &:hover {
                        color: $appBrandColor;
                    }
                }
            }
        }
    }

    .inner-card-header {
        display: flex;

        .inner-card-title {
            display: flex;
            flex-direction: row;

            .p-avatar {
                background-color: $appFormFieldPlaceholderColor;
                color: $appCardBackgroundColor;
            }
        }
    
        .inner-card-controls {
            height: 20px;
            display: flex;
            justify-content: flex-end;
            flex-grow: 1;
    
            .control-item {
                
                .p-button {
                    width: 20px;
                    height: 20px;
                    margin-left: 10px;
                    background: $appControlItemBackgroundColor;
                    color: $appIconColor;
                    border-radius: 2px;
                    border: none;
                    outline: none;

                    .pi {
                        font-size: 14px;

                    }
                    
                    &.red {
                        color: $appBrandColor;
                    }

                    &.green {
                        color: $appComplete;
                    }

                    &.blue {
                        color: $appTextColorBlue;
                    }

                    &:hover {
                        color: $appTextColorDark;
                    }
                }
            }
        }
    }


    .icon {
        color: $appIconColor;
        display: inline-block;

        &:hover, &:focus, &:active {
            color: $appIconColorActive;
        }

        &.icon-menu {
            width: 18px;
            height: 12px;
            background: url(../../../../assets/images/icon-menu.svg) no-repeat center center / 18px 12px;
        }

        &.icon-search {
            width: 14.67px;
            height: 14.65px;
            background: url(../../../../assets/images/icon-search.svg) no-repeat center center / 14.67px 14.65px;
        }

        &.icon-quinn {
            width: 12px;
            height: 19px;
            background: url(../../../../assets/images/icon-quinn.svg) no-repeat center center / 12px 19px;
        }
        
        &.icon-hub {
            width: 16px;
            height: 16px;
            background: url(../../../../assets/images/icon-hub.svg) no-repeat center center / 16px 16px;
        }

        &.icon-notifications {
            width: 16px;
            height: 20px;
            background: url(../../../../assets/images/icon-notifications.svg) no-repeat center center / 16px 20px;
        }

        &.icon-settings {
            width: 19.49px;
            height: 20px;
            background: url(../../../../assets/images/icon-settings.svg) no-repeat center center / 19.49px 20px;
        }

        &.icon-training {
            width: 23px;
            height: 19px;
            background: url(../../../../assets/images/icon-training.svg) no-repeat center center / 23px 19px;
        }
    }
}

