<nav id="left-nav">
    <div id="branding">
        <a href=""><img src="../assets/images/CORE-logo.svg" alt="logo"></a>
    </div>
    <ul>
        <li>
            <p-button label="Bars" class="p-button-secondary" icon="pi pi-bars"></p-button>
        </li>
        <li>
            <p-button label="" class="p-button-secondary" icon="pi pi-bookmark"></p-button>
        </li>
        <li>
            <p-button label="" class="p-button-secondary" icon="pi pi-bookmark"></p-button>
        </li>
        <li>
            <p-button label="" class="p-button-secondary" icon="pi pi-bookmark"></p-button>
        </li>
    </ul>
</nav>