<nav id="top-nav">
    <div class="grid">
        <div class="col-10">
            <!-- Left Menu Toggle -->
            <p-button label="" class="p-button-secondary" icon="pi pi-bars"></p-button>
            
            <!-- Search Bar with Quinn -->
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input type="text" pInputText class="p-inputtext p-component p-element ng-pristine ng-valid ng-touched" placeholder="Search here..." />
            </span>
        </div>
        <div class="col-2">
            <div class="top-nav-controls">
                <!-- Hub -->
                <span class="control-item">
                    <p-button (click)="menu.toggle($event)" icon="pi pi-qrcode" [rounded]="true" severity="warning" [outlined]="true"></p-button>
                    <p-menu appendTo="body" #menu [model]="items" [popup]="true"></p-menu>
                </span>
    
                <!-- App Notifications -->
                <span class="control-item">
                    <p-button icon="pi pi-bell" [rounded]="true" severity="warning" [outlined]="true"></p-button>
                    <p-menu appendTo="body" #menu [model]="items" [popup]="true"></p-menu>
                </span>
    
                <!-- App Settings -->
                <span class="control-item">
                    <p-button icon="pi pi-cog" [rounded]="true" severity="warning" [outlined]="true"></p-button>
                    <p-menu appendTo="body" #menu [model]="items" [popup]="true"></p-menu>
                </span>
    
                <!-- Profile Options -->
                <span class="control-item">
                    <p-avatar (click)="menu.toggle($event)" image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png" shape="circle"></p-avatar>
                    <p-menu appendTo="body" #menu [model]="items" [popup]="true"></p-menu>
                </span>
            </div>
            <!-- Message Service Toast -->
            <p-toast></p-toast>
        </div>
    </div>
</nav>