<main id="main">
    <app-left-nav></app-left-nav>

    <app-top-nav></app-top-nav>

    <section id="main-content">
        <div class="grid">
            <div class="col-3">
                <h1><span>Claims:</span> Service: CL-231219-000007</h1>
            </div>
            <div class="col-6">

            </div>
            <div class="col-3">
                <div class="flex justify-end mt-10">
                    <p-button label="Get Training Here" icon="icon icon-training" [outlined]="true"
                        severity="help"></p-button>
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="col-3">
                <div class="grid">
                    <div class="col-12">
                        <p-card>
                            <ng-template pTemplate="header">
                                <div class="card-title">
                                    <h2>Service Information</h2>
                                </div>
                                <div class="card-controls">
                                    <!-- Edit -->
                                    <span class="control-item">
                                        <p-button icon="pi pi-pen-to-square" pTooltip="Edit"
                                            tooltipPosition="top"></p-button>
                                        <p-menu appendTo="body" #menu [model]="items" [popup]="true"></p-menu>

                                    </span>

                                    <!-- Expand -->
                                    <span class="control-item">
                                        <p-button icon="pi pi-arrow-up-right-and-arrow-down-left-from-center"
                                            pTooltip="Expand" tooltipPosition="top"></p-button>
                                        <p-menu appendTo="body" #menu [model]="items" [popup]="true"></p-menu>
                                    </span>
                                </div>
                            </ng-template>
                            <p-scrollPanel [style]="{ width: '100%', height: '165px' }">
                                <div class="core-info">
                                    <span class="core-label">Voyant ID</span>
                                    <span class="core-value">CL-231210-000007</span>
                                </div>
                                <div class="core-info">
                                    <span class="core-label">Special Instructions</span>
                                    <span class="core-value">N/A</span>
                                </div>
                                <div class="core-info">
                                    <span class="core-label">Adjuster</span>
                                    <span class="core-value">N/A</span>
                                </div>
                            </p-scrollPanel>
                        </p-card>
                    </div>
                    <div class="col-12">
                        <p-card class="no-padding">
                            <ng-template pTemplate="header">
                                <div class="card-title">
                                    <h2>Jobs</h2>
                                </div>
                                <div class="card-controls">
                                    <!-- Filter -->
                                    <span class="control-item">
                                        <p-button icon="pi pi-filter" pTooltip="Filter"
                                            tooltipPosition="top"></p-button>
                                        <p-menu appendTo="body" #menu [model]="items" [popup]="true"></p-menu>
                                    </span>
                                    <!-- Sort -->
                                    <span class="control-item">
                                        <p-button icon="pi pi-sort-amount-down" pTooltip="Sort"
                                            tooltipPosition="top"></p-button>
                                        <p-menu appendTo="body" #menu [model]="items" [popup]="true"></p-menu>
                                    </span>
                                    <!-- Search -->
                                    <span class="control-item">
                                        <p-button icon="pi pi-search" pTooltip="Search"
                                            tooltipPosition="top"></p-button>
                                        <p-menu appendTo="body" #menu [model]="items" [popup]="true"></p-menu>
                                    </span>
                                    <!-- Add -->
                                    <span class="control-item">
                                        <p-button icon="pi pi-plus" pTooltip="Add Job" tooltipPosition="top"></p-button>
                                        <p-menu appendTo="body" #menu [model]="items" [popup]="true"></p-menu>
                                    </span>
                                </div>
                            </ng-template>
                            <p-scrollPanel [style]="{ width: '100%', height: 'calc(100vh - 513px)' }" class="no-padding">
                                <ul class="job-list" style="margin-bottom: 20px;">
                                    <li>
                                        <span class="title">
                                            <span class="job-type">Water</span>
                                            <span class="job-id">ASB-231220-00010</span>
                                        </span>
                                        <span class="controls">
                                            <p-tag value="Assigned" [rounded]="true"></p-tag>
                                            <p-button icon="pi pi-thumbtack" pTooltip="Pin to Focus Area"
                                                tooltipPosition="top"></p-button>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="title">
                                            <span class="job-type">Fire</span>
                                            <span class="job-id">ASB-231220-00011</span>
                                        </span>
                                        <span class="controls">
                                            <p-tag value="Assigned" [rounded]="true"></p-tag>
                                            <p-button icon="pi pi-thumbtack" pTooltip="Pin to Focus Area"
                                                tooltipPosition="top"></p-button>
                                        </span>
                                    </li>
                                    <li class="active">
                                        <span class="title">
                                            <span class="job-type">Asbetos</span>
                                            <span class="job-id">ASB-231220-00012</span>
                                        </span>
                                        <span class="controls">
                                            <p-tag value="Assigned" [rounded]="true" severity="rejected"></p-tag>
                                            <p-button icon="pi pi-thumbtack" pTooltip="Pin to Focus Area"
                                                tooltipPosition="top"></p-button>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="title">
                                            <span class="job-type">Asbetos</span>
                                            <span class="job-id">ASB-231220-00012</span>
                                        </span>
                                        <span class="controls">
                                            <p-tag value="Assigned" [rounded]="true" severity="open"></p-tag>
                                            <p-button icon="pi pi-thumbtack" pTooltip="Pin to Focus Area"
                                                tooltipPosition="top"></p-button>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="title">
                                            <span class="job-type">Asbetos</span>
                                            <span class="job-id">ASB-231220-00012</span>
                                        </span>
                                        <span class="controls">
                                            <p-tag value="Assigned" [rounded]="true" severity="assigned"></p-tag>
                                            <p-button icon="pi pi-thumbtack" pTooltip="Pin to Focus Area"
                                                tooltipPosition="top"></p-button>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="title">
                                            <span class="job-type">Asbetos</span>
                                            <span class="job-id">ASB-231220-00012</span>
                                        </span>
                                        <span class="controls">
                                            <p-tag value="Assigned" [rounded]="true"></p-tag>
                                            <p-button icon="pi pi-thumbtack" pTooltip="Pin to Focus Area"
                                                tooltipPosition="top"></p-button>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="title">
                                            <span class="job-type">Asbetos</span>
                                            <span class="job-id">ASB-231220-00012</span>
                                        </span>
                                        <span class="controls">
                                            <p-tag value="Assigned" [rounded]="true"></p-tag>
                                            <p-button icon="pi pi-thumbtack" pTooltip="Pin to Focus Area"
                                                tooltipPosition="top"></p-button>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="title">
                                            <span class="job-type">Asbetos</span>
                                            <span class="job-id">ASB-231220-00012</span>
                                        </span>
                                        <span class="controls">
                                            <p-tag value="Assigned" [rounded]="true"></p-tag>
                                            <p-button icon="pi pi-thumbtack" pTooltip="Pin to Focus Area"
                                                tooltipPosition="top"></p-button>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="title">
                                            <span class="job-type">Asbetos</span>
                                            <span class="job-id">ASB-231220-00012</span>
                                        </span>
                                        <span class="controls">
                                            <p-tag value="Assigned" [rounded]="true"></p-tag>
                                            <p-button icon="pi pi-thumbtack" pTooltip="Pin to Focus Area"
                                                tooltipPosition="top"></p-button>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="title">
                                            <span class="job-type">Asbetos</span>
                                            <span class="job-id">ASB-231220-00012</span>
                                        </span>
                                        <span class="controls">
                                            <p-tag value="Assigned" [rounded]="true"></p-tag>
                                            <p-button icon="pi pi-thumbtack" pTooltip="Pin to Focus Area"
                                                tooltipPosition="top"></p-button>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="title">
                                            <span class="job-type">Asbetos</span>
                                            <span class="job-id">ASB-231220-00012</span>
                                        </span>
                                        <span class="controls">
                                            <p-tag value="Assigned" [rounded]="true"></p-tag>
                                            <p-button icon="pi pi-thumbtack" pTooltip="Pin to Focus Area"
                                                tooltipPosition="top"></p-button>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="title">
                                            <span class="job-type">Asbetos</span>
                                            <span class="job-id">ASB-231220-00012</span>
                                        </span>
                                        <span class="controls">
                                            <p-tag value="Assigned" [rounded]="true"></p-tag>
                                            <p-button icon="pi pi-thumbtack" pTooltip="Pin to Focus Area"
                                                tooltipPosition="top"></p-button>
                                        </span>
                                    </li>
                                </ul>
                            </p-scrollPanel>
                        </p-card>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="grid">
                    <div class="col-12">
                        <p-card>
                            <ng-template pTemplate="header">
                                <div class="card-title">
                                    <h2>Asbetos (ASB-231220-00012)</h2>
                                    <p-button icon="pi pi-ellipsis-v"></p-button>
                                </div>
                                <div class="card-controls">
                                    <!-- Tab Navigation -->
                                    <ul class="card-header-tabs">
                                        <li><a href="" class="active">Project Details</a></li>
                                        <li><a href="">Tasks</a></li>
                                        <li><a href="">Actions</a></li>
                                        <li><a href="">Accounts</a></li>
                                        <li><a href="">Activity</a></li>
                                        <li><a href="">Invoices</a></li>
                                        <li><a href="">Estimates</a></li>
                                        <li><a href="">Bills</a></li>
                                        <li><a href="">Payments</a></li>
                                        <li><a href="">Inspections</a></li>
                                    </ul>
                                    <!-- Expand -->
                                    <span class="control-item">
                                        <p-button icon="pi pi-arrow-up-right-and-arrow-down-left-from-center"
                                            pTooltip="Expand" tooltipPosition="top"></p-button>
                                        <p-menu appendTo="body" #menu [model]="items" [popup]="true"></p-menu>
                                    </span>
                                </div>
                            </ng-template>
                            <div class="card-body-tab-content">
                                <div class="tab">
                                    <p-scrollPanel [style]="{ width: '100%', height: 'calc(100vh - 280px)' }">
                                        <div class="job-status">
                                            <h3>Status</h3>
                                            <p-carousel [value]="jobStatuses" [numVisible]="6" [numScroll]="1"
                                                [responsiveOptions]="responsiveOptions" showNavigators="false"
                                                showIndicators="false">
                                                <ng-template let-jobstatus pTemplate="item">
                                                    <div class="job-status-item">
                                                        <div class="job-status-item-content {{ jobstatus.color }}"
                                                            [ngClass]="jobstatus.currentlyActive ? 'active' : '' ">
                                                            <h4><i class="{{ jobstatus.icon }}"></i> {{ jobstatus.status
                                                                }}</h4>
                                                            <span class="job-start-date">{{ jobstatus.startDate
                                                                }}</span>
                                                            <span class="job-end-date">{{ jobstatus.endDate }}</span>
                                                        </div>
                                                    </div>
                                                </ng-template>
                                            </p-carousel>
                                        </div>
                                        <div class="job-details">
                                            <h3>Details</h3>

                                            <div class="grid">
                                                <div class="col-4">
                                                    <h4>Job Details</h4>
                                                    <div class="core-info">
                                                        <span class="core-label">Integration Type</span>
                                                        <span class="core-value">{{ jobDetails.integrationType }}</span>
                                                    </div>
                                                    <div class="core-info">
                                                        <span class="core-label">Service Expert</span>
                                                        <span class="core-value">{{ jobDetails.serviceExpert }}</span>
                                                    </div>
                                                    <div class="core-info">
                                                        <span class="core-label">QA Reviewer</span>
                                                        <span class="core-value">{{ jobDetails.qaReviewer }}</span>
                                                    </div>
                                                    <div class="core-info">
                                                        <span class="core-label">Job Type</span>
                                                        <span class="core-value">{{ jobDetails.jobType }}</span>
                                                    </div>
                                                    <div class="core-info">
                                                        <span class="core-label">Job Description</span>
                                                        <span class="core-value">{{ jobDetails.jobDescription }}</span>
                                                    </div>
                                                    <h4 class="mt-5">Program Details</h4>
                                                    <div class="core-info">
                                                        <span class="core-label">Program</span>
                                                        <span class="core-value"><a
                                                                href="/program/f9-4306-a1ad-38082bcb7c2c/requirements">{{
                                                                jobDetails.program }}</a></span>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <h4>Contact Information</h4>
                                                    <div class="core-info">
                                                        <span class="core-label">Main Contact</span>
                                                        <span class="core-value">
                                                            {{ jobDetails.mainContact }}
                                                            <a href="">{{ jobDetails.mainContactPhone }}</a>
                                                            <a href="mailto:edwardbarney.customer@gmail.com">{{
                                                                jobDetails.mainContactEmail }}</a>
                                                        </span>
                                                    </div>
                                                    <div class="core-info">
                                                        <span class="core-label">Customer</span>
                                                        <span class="core-value">
                                                            <a
                                                                href="/accounts/view/8ec93954-e622-4d6d-b4aa-e9053c616dfb">{{
                                                                jobDetails.customer }}</a>
                                                            <a href="tel:(205) 682-3745">{{ jobDetails.customerEmail
                                                                }}</a>
                                                        </span>
                                                    </div>
                                                    <div class="core-info">
                                                        <span class="core-label">Customer Address</span>
                                                        <span class="core-value">{{ jobDetails.customerAddress }}</span>
                                                    </div>
                                                    <div class="core-info">
                                                        <span class="core-label">Client</span>
                                                        <span class="core-value">
                                                            <a
                                                                href="/accounts/view/fd014405-e695-47a2-88eb-ed857574422d">{{
                                                                jobDetails.provider }}</a>
                                                        </span>
                                                    </div>
                                                    <div class="core-info">
                                                        <span class="core-label">Adjuster</span>
                                                        <span class="core-value">
                                                            {{ jobDetails.adjuster }}
                                                            <a href="">{{ jobDetails.adjusterPhone }}</a>
                                                            <a href="mailto:UnitedGroupInsurance@example.com">{{
                                                                jobDetails.adjusterEmail }}</a>
                                                        </span>
                                                    </div>
                                                    <div class="core-info">
                                                        <span class="core-label">Provider</span>
                                                        <span class="core-value"><a href="">{{ jobDetails.provider
                                                                }}</a></span>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <h4>Financial Details</h4>
                                                    <div class="core-info value-right">
                                                        <span class="core-label">Initial Estimate</span>
                                                        <span class="core-value">${{ jobDetails.initialEstimate
                                                            }}.00</span>
                                                    </div>
                                                    <div class="core-info value-right">
                                                        <span class="core-label">Final Estimate</span>
                                                        <span class="core-value">${{ jobDetails.finalEstimate
                                                            }}.00</span>
                                                    </div>
                                                    <div class="core-info value-right">
                                                        <span class="core-label">Job Invoice Total</span>
                                                        <span class="core-value">${{ jobDetails.jobInvoiceTotal
                                                            }}.00</span>
                                                    </div>
                                                    <div class="core-info value-right">
                                                        <span class="core-label">Job Received Amount</span>
                                                        <span class="core-value">${{ jobDetails.jobReceivedAmount
                                                            }}.00</span>
                                                    </div>
                                                    <div class="core-info value-right">
                                                        <span class="core-label">Job Referral Fee</span>
                                                        <span class="core-value">${{ jobDetails.jobReferralFee
                                                            }}.00</span>
                                                    </div>
                                                    <div class="core-info value-right">
                                                        <span class="core-label">Job Paid Amount</span>
                                                        <span class="core-value">${{ jobDetails.jobPaidAmount
                                                            }}.00</span>
                                                    </div>
                                                    <div class="core-info value-right">
                                                        <span class="core-label">Job Balance Amount</span>
                                                        <span class="core-value">${{ jobDetails.jobBalanceAmount
                                                            }}.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="job-participants">
                                            <div class="card-header">
                                                <div class="card-title">
                                                    <h3>Participents</h3>
                                                </div>
                                                <div class="card-controls">
                                                    <a href="">Add Participent</a>
                                                    <a href="">View All</a>
                                                </div>
                                            </div>
                                            <p-carousel [value]="jobParticipents" [numVisible]="5" [numScroll]="1"
                                                [responsiveOptions]="responsiveOptions" showNavigators="false"
                                                showIndicators="false">
                                                <ng-template let-jobparticipent pTemplate="item">
                                                    <div class="job-participent-item">
                                                        <div class="job-participent-item-content">
                                                            <div class="inner-card-header">
                                                                <div class="inner-card-title">
                                                                    <p-avatar
                                                                        [label]="jobparticipent.avatar == '' ? getShortName(jobparticipent.name) : ''"
                                                                        [image]="jobparticipent.avatar !== '' ? jobparticipent.avatar : ''"
                                                                        shape="circle"></p-avatar>
                                                                </div>
                                                                <div class="inner-card-controls">
                                                                    <!-- Make Default -->
                                                                    <span class="control-item">
                                                                        <p-button icon="pi pi-check-circle"
                                                                            [styleClass]="jobparticipent.default ? 'green' : '' "
                                                                            [pTooltip]="jobparticipent.default ? 'Remove Default' : 'Make Default' "
                                                                            tooltipPosition="top"></p-button>
                                                                        <p-menu appendTo="body" #menu [model]="items"
                                                                            [popup]="true"></p-menu>
                                                                    </span>
                                                                    <!-- Chat -->
                                                                    <span class="control-item">
                                                                        <p-button icon="pi pi-comments" pTooltip="Chat"
                                                                            tooltipPosition="top"></p-button>
                                                                        <p-menu appendTo="body" #menu [model]="items"
                                                                            [popup]="true"></p-menu>
                                                                    </span>
                                                                    <!-- Track -->
                                                                    <span class="control-item">
                                                                        <p-button icon="pi pi-directions"
                                                                            [styleClass]="jobparticipent.tracking ? 'blue' : '' "
                                                                            [pTooltip]="jobparticipent.tracking ? 'Stop Tracking' : 'Start Tracking' "
                                                                            tooltipPosition="top"></p-button>
                                                                        <p-menu appendTo="body" #menu [model]="items"
                                                                            [popup]="true"></p-menu>
                                                                    </span>
                                                                    <!-- Delete -->
                                                                    <span class="control-item">
                                                                        <p-button icon="pi pi-trash"
                                                                            [styleClass]="'red'" pTooltip="Delete"
                                                                            tooltipPosition="top"></p-button>
                                                                        <p-menu appendTo="body" #menu [model]="items"
                                                                            [popup]="true"></p-menu>
                                                                    </span>
                                                                </div>
                                                            </div>

                                                            <h4>{{ jobparticipent.name }}</h4>
                                                            <h5>{{ jobparticipent.designation }}</h5>
                                                            <a href="">{{ jobparticipent.email }}</a>
                                                            <a href="">{{ jobparticipent.phone }}</a>
                                                        </div>
                                                    </div>
                                                </ng-template>
                                            </p-carousel>
                                        </div>
                                        <div class="job-attachments">
                                            <div class="card-header">
                                                <div class="card-title">
                                                    <h3>Attachments (Images &amp; Doc)</h3>
                                                </div>
                                                <div class="card-controls">
                                                    <a href="">View All</a>
                                                </div>
                                            </div>
                                            <div class="job-attachments-content">
                                                <ng-template ngFor let-jobattachment [ngForOf]="jobAttachments"
                                                    let-i="index">
                                                    <a href="{{ jobattachment.fileUrl }}"><img
                                                            [src]="jobattachment.fileType === 'doc' || jobattachment.fileType === 'pdf' ? '../assets/images/icon-'+jobattachment.fileType+'.svg' : jobattachment.fileUrl"
                                                            alt=""> <span>{{ jobattachment.fileName }}</span></a>
                                                </ng-template>
                                                <a href="" class="add-attachment"><i class="pi pi-plus"></i></a>
                                            </div>
                                        </div>
                                        <div class="job-knowledge-base">
                                            <div class="card-header">
                                                <div class="card-title">
                                                    <h3>Knowledge Base</h3>
                                                </div>
                                                <div class="card-controls">
                                                    <a href="">View All</a>
                                                </div>
                                            </div>
                                            <div class="job-knowledge-base-content">
                                                <a href=""><img src="../assets/images/icon-pdf.svg" alt="">
                                                    <span>work-details.doc</span></a>
                                                <a href=""><img src="../assets/images/icon-pdf.svg" alt="">
                                                    <span>house.jpg</span></a>
                                            </div>
                                        </div>
                                        <div class="job-notes">
                                            <div class="card-header">
                                                <div class="card-title">
                                                    <h3>Notes</h3>
                                                    <span class="p-input-icon-left">
                                                        <i class="pi pi-search"></i>
                                                        <input type="text" pInputText
                                                            class="p-inputtext p-component p-element ng-pristine ng-valid ng-touched"
                                                            placeholder="Search here..." />
                                                    </span>
                                                </div>
                                                <div class="card-controls">
                                                    <a href="">Add Note</a>
                                                    <a href="">View All</a>
                                                </div>
                                            </div>
                                            <div class="job-notes-content">

                                                <ng-template ngFor let-jobnote [ngForOf]="jobNotes" let-i="index">
                                                    <div class="job-note-item">
                                                        <div class="job-note-header">
                                                            <div class="job-note-title">
                                                                <h4>{{jobnote.name}}</h4>
                                                            </div>
                                                            <div class="job-note-meta">
                                                                <span *ngIf="jobnote.reviewRequired || jobnote.reviewed"
                                                                    class="job-note-status"><p-tag
                                                                        [value]="jobnote.reviewed ? 'Reviewed by '+jobnote.reviewRequiredBy : jobnote.reviewRequiredBy ? 'Review Required by ' + jobnote.reviewRequiredBy : 'Review Required'"
                                                                        [severity]="jobnote.reviewed ? 'reviewed' : 'warning'"
                                                                        [rounded]="true"></p-tag></span>
                                                                <span class="job-note-date">{{ jobnote.date }}</span>
                                                            </div>
                                                        </div>
                                                        <p>{{jobnote.note}}</p>
                                                        <div class="job-note-controls">
                                                            <div>
                                                                <a href="">Reply</a>
                                                                <a href="">Edit</a>
                                                                <a href="">History</a>
                                                                <a href="" class="red">Delete</a>
                                                            </div>
                                                            <div>
                                                                <ng-template ngFor let-jobnotevisibility
                                                                    [ngForOf]="jobnote.visibleTo" let-j="index">
                                                                    <p-avatar label="{{jobnotevisibility}}"
                                                                        shape="circle"></p-avatar>
                                                                </ng-template>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ng-template>
                                                <div class="jop-notes-pagination" style="position: relative;">
                                                    <p-paginator (onPageChange)="onPageChange($event)"
                                                        [showCurrentPageReport]="true" templateLeft="aaa"
                                                        [first]="first" [rows]="3" [totalRecords]="jobNotes.length"
                                                        [showFirstLastIcon]="false"></p-paginator>
                                                </div>
                                            </div>
                                        </div>
                                    </p-scrollPanel>
                                </div>
                                <!-- <div>
                                    <p-scrollPanel [style]="{ width: '100%', height: 'calc(100vh - 280px)' }">
                                    </p-scrollPanel>
                                </div>
                                <div>
                                    <p-scrollPanel [style]="{ width: '100%', height: 'calc(100vh - 280px)' }">
                                    </p-scrollPanel>
                                </div> -->
                            </div>
                        </p-card>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<router-outlet />