<main id="main">
    <app-left-nav></app-left-nav>
    
    <app-top-nav></app-top-nav>

    <section id="main-content">
        <div class="grid">
            <div class="col-3">
                <h1><span>Claims:</span> Service: CL-231219-000007</h1>
            </div>
            <div class="col-6">
                
            </div>
            <div class="col-3">
                <div class="flex justify-end mt-10">
                    <p-button label="Get Training Here" icon="icon icon-training" [outlined]="true" severity="help"></p-button>
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="col-3">
                <div class="grid">
                    <div class="col-12">
                        <p-card>
                            <ng-template pTemplate="header">
                                <div class="card-title">
                                    <h2>Service Information</h2>
                                </div>
                                <div class="card-controls">
                                    <!-- Edit -->
                                    <span class="control-item">
                                        <p-button icon="pi pi-pen-to-square" pTooltip="Edit" tooltipPosition="top"></p-button>
                                        <p-menu appendTo="body" #menu [model]="items" [popup]="true"></p-menu>
                                        
                                    </span>

                                    <!-- Expand -->
                                    <span class="control-item">
                                        <p-button icon="pi pi-arrow-up-right-and-arrow-down-left-from-center" pTooltip="Expand" tooltipPosition="top"></p-button>
                                        <p-menu appendTo="body" #menu [model]="items" [popup]="true"></p-menu>
                                    </span>
                                </div>
                            </ng-template>
                            <div class="core-info">
                                <span class="core-label">Voyant ID</span>
                                <span class="core-value">CL-231210-000007</span>
                            </div>
                            <div class="core-info">
                                <span class="core-label">Special Instructions</span>
                                <span class="core-value">N/A</span>
                            </div>
                            <div class="core-info">
                                <span class="core-label">Adjuster</span>
                                <span class="core-value">N/A</span>
                            </div>
                        </p-card>
                    </div>
                    <div class="col-12">
                        <p-card header="Advanced Card" subheader="Card Subheader">
                            <ng-template pTemplate="header">
                                <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
                            </ng-template>
        
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                                quas!
                            </p>
                            <ng-template pTemplate="footer">
                                <p-button label="Save" icon="pi pi-check"></p-button>
                                <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
                            </ng-template>
                        </p-card>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="grid">
                    <div class="col-12">
                        <p-card>
                            <ng-template pTemplate="header">
                                <div class="card-title">
                                    <h2>Asbetos (ASB-231220-00012)</h2>
                                    <p-button icon="pi pi-ellipsis-v"></p-button>
                                </div>
                                <div class="card-controls">
                                    <!-- Tab Navigation -->
                                    <ul class="card-header-tabs">
                                        <li><a href="" class="active">Project Details</a></li>
                                        <li><a href="">Tasks</a></li>
                                        <li><a href="">Actions</a></li>
                                        <li><a href="">Accounts</a></li>
                                        <li><a href="">Activity</a></li>
                                        <li><a href="">Invoices</a></li>
                                        <li><a href="">Estimates</a></li>
                                        <li><a href="">Bills</a></li>
                                        <li><a href="">Payments</a></li>
                                        <li><a href="">Inspections</a></li>
                                    </ul>
                                    <!-- Expand -->
                                    <span class="control-item">
                                        <p-button icon="pi pi-arrow-up-right-and-arrow-down-left-from-center" pTooltip="Expand" tooltipPosition="top"></p-button>
                                        <p-menu appendTo="body" #menu [model]="items" [popup]="true"></p-menu>
                                    </span>
                                </div>
                            </ng-template>
                            <div class="card-body-tab-content">
                                <div class="tab">
                                    <div class="job-status">
                                        <h3>Status</h3>
                                        <p-carousel [value]="jobstatuses" [numVisible]="6" [numScroll]="1" [responsiveOptions]="responsiveOptions" showNavigators="false" showIndicators="false">
                                            <ng-template let-jobstatus pTemplate="item">
                                                <div class="job-status-item">
                                                    <div class="job-status-item-content {{ jobstatus.color }}" [ngClass]="jobstatus.currentlyActive ? 'active' : '' ">
                                                        <h4><i class="{{ jobstatus.icon }}"></i> {{ jobstatus.status }}</h4>
                                                        <span class="job-start-date">{{ jobstatus.startDate }}</span>
                                                        <span class="job-end-date">{{ jobstatus.endDate }}</span>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </p-carousel>
                                    </div>
                                </div>
                                <div>
                                    bbb
                                </div>
                                <div>
                                    ccc
                                </div>
                            </div>
                        </p-card>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- <h3>Getting Started with Grid</h3>
<div class="grid">
    <div class="col-2">
        <div class="text-center p-3 border-round-sm bg-primary font-bold">1</div>
    </div>
    <div class="col">
        <div class="text-center p-3 border-round-sm bg-primary font-bold ">2</div>
    </div>
    <div class="col">
        <div class="text-center p-3 border-round-sm bg-primary font-bold ">3</div>
    </div>
</div>

<h3>12 Col Grid</h3>
<div class="grid">
    <div class="col-4">
        <div class="text-center p-3 border-round-sm bg-primary font-bold ">4</div>
    </div>
    <div class="col">
        <div class="text-center p-3 border-round-sm bg-primary font-bold ">1</div>
    </div>
    <div class="col">
        <div class="text-center p-3 border-round-sm bg-primary font-bold ">1</div>
    </div>
    <div class="col">
        <div class="text-center p-3 border-round-sm bg-primary font-bold ">1</div>
    </div>
    <div class="col">
        <div class="text-center p-3 border-round-sm bg-primary font-bold ">1</div>
    </div>
    <div class="col">
        <div class="text-center p-3 border-round-sm bg-primary font-bold ">1</div>
    </div>
    <div class="col">
        <div class="text-center p-3 border-round-sm bg-primary font-bold ">1</div>
    </div>
    <div class="col">
        <div class="text-center p-3 border-round-sm bg-primary font-bold ">1</div>
    </div>
    <div class="col">
        <div class="text-center p-3 border-round-sm bg-primary font-bold ">1</div>
    </div>
</div>

<div class="grid">
    <div class="col-2">
        <div class="text-center p-3 border-round-sm bg-primary font-bold ">2</div>
    </div>
    <div class="col-6">
        <div class="text-center p-3 border-round-sm bg-primary font-bold ">6</div>
    </div>
    <div class="col-4">
        <div class="text-center p-3 border-round-sm bg-primary font-bold ">4</div>
    </div>
</div>

<h3>Multi Line</h3>
<div class="grid">
    <div class="col-6">
        <div class="text-center p-3 border-round-sm bg-primary font-bold">6</div>
    </div>
    <div class="col-6">
        <div class="text-center p-3 border-round-sm bg-primary font-bold">6</div>
    </div>
    <div class="col-6">
        <div class="text-center p-3 border-round-sm bg-primary font-bold">6</div>
    </div>
    <div class="col-6">
        <div class="text-center p-3 border-round-sm bg-primary font-bold">6</div>
    </div>
</div>

<h3>Fixed Col</h3>
<div class="grid">
    <div class="col-fixed" style="width:100px">
        <div class="text-center p-3 border-round-sm bg-primary font-bold">100px</div>
    </div>
    <div class="col">
        <div class="text-center p-3 border-round-sm bg-primary font-bold">auto</div>
    </div>
</div>

<h3>Offset</h3>
<div class="grid">
    <div class="col-6 col-offset-3">
        <div class="text-center p-3 border-round-sm bg-primary font-bold">6</div>
    </div>
</div>
<div class="grid">
    <div class="col-4">
        <div class="text-center p-3 border-round-sm bg-primary font-bold">4</div>
    </div>
    <div class="col-4 col-offset-4">
        <div class="text-center p-3 border-round-sm bg-primary font-bold">4</div>
    </div>
</div>

<h3>Nested Grid</h3>
<div class="grid nested-grid">
    <div class="col-8">
        <div class="grid">
            <div class="col-6">
                <div class="text-center p-3 border-round-sm bg-primary font-bold">6</div>
            </div>
            <div class="col-6">
                <div class="text-center p-3 border-round-sm bg-primary font-bold">6</div>
            </div>
            <div class="col-12">
                <div class="text-center p-3 border-round-sm bg-primary font-bold">12</div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="text-center p-3 border-round-sm h-full bg-primary font-bold">4</div>
    </div>
</div>

<h3>Form Test</h3>
<div class="formgrid grid">
    <div class="field col-12 md:col-6">
        <label for="firstname6">Firstname</label>
        <input id="firstname6" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field col-12 md:col-6">
        <label for="lastname6">Lastname</label>
        <input id="lastname6" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field col-12">
        <label for="address">Address</label>
        <textarea id="address" type="text" rows="4" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
    </div>
    <div class="field col-12 md:col-6">
        <label for="city">City</label>
        <input id="city" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field col-12 md:col-3">
        <label for="state">State</label>
        <select id="state" class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary" style="appearance: auto">
            <option>Arizona</option>
            <option>California</option>
            <option>Florida</option>
            <option>Ohio</option>
            <option>Washington</option>
        </select>
    </div>
    <div class="field col-12 md:col-3">
        <label for="zip">Zip</label>
        <input id="zip" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
</div> -->


<router-outlet />